<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtensionFileProviderOnlyVisibleInParentApplication</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Archive Angel reads your photo library to export copies to a folder you choose and to find duplicate images when you ask.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
